{% extends 'layout.html' %}


{% block content %}
<h1> Información de contacto</h1>
<p>Si estás interesado en mis servicios de desarrollo Web no dudes en contactarme por alguno de los siguientes medios.</p>

<div>
    
    <h3>Ubicación: Sahagún Cordoba Colombia </h3>
    <h3>cel: 3023279328</h3>
    <h3>Correo electrónico: adolfojb2@gmail.com</h3>
    <a href="https://github.com/adolfojb2" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/adolfo-betin/" target="_blank">LinkedIn</a>

</div>
<br/>
<hr/>
<div>
    <h2 class="title"> Contacte conmigo</h2>
    <form>
        <label for="asunto">ASUNTO</label>
        <select name="asunto">
            <option value="1">Cotización</option>
            <option value="0">Mantenimiento</option>
        </select>
        <br/>
        <label for="email">CORREO ELECTRÓNICO</label>
        <input type="email"  placeholder="su@email.com" name="email"/> 
        <br/>
        <label for="archivo">ARCHIVO ADJUNTO</label>  
        <input type="file" name="file"/>
        <br/>
        <label for="mensaje">MENSAJE</label>
        <textarea name="mensaje" ></textarea>
        <br/>
        <input type="submit" value="Enviar"/>
    </form>
</div>
{% endblock %}