{% extends 'layout.html' %}


{% block content %}
<h1> Sobre mi</h1>
<p>Soy Adolfo Betín, desarrollador backend apasionado por la creación de aplicaciones innovadoras y de alto impacto. Me especializo en el diseño, desarrollo y optimización de sistemas robustos y escalables, asegurando eficiencia, seguridad y alto rendimiento. Disfruto enfrentar desafíos técnicos que me permitan mejorar mis habilidades y aprender nuevas tecnologías.

    Siempre estoy en constante aprendizaje, explorando nuevas herramientas y mejores prácticas para ofrecer soluciones eficientes y de calidad. Busco oportunidades que me reten y me permitan aportar valor a proyectos ambiciosos, combinando creatividad con ingeniería para desarrollar productos que marquen la diferencia.</p>
<ul>
    <li>Breve presentación sobre ti (quién eres y qué haces).</li>
    <li>Un título impactante, por ejemplo: "Soy [Tu Nombre], un desarrollador backend experto en Django y AWS."</li>
    <li>Un botón llamativo de "Contáctame" o "Ver mi trabajo".</li>
    <br>
    <br>
<h1>Experiencia</h1>
    <li>Un párrafo sobre tu experiencia, habilidades y pasión por el backend.</li>
    <li>Un poco sobre tu filosofía de desarrollo (ejemplo: "Me encanta crear APIs eficientes y escalables").</li>
    <li>Foto profesional o avatar.</li>
</ul>
<br>
<img src="../static/images/foto_pro.png" alt="MDN" width="400" height="400" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);" />

{% endblock %}

