{% extends 'layout.html' %}


{% block content %}
<h1> Sobre mi</h1>
<ul>
    <li>Breve presentación sobre ti (quién eres y qué haces).</li>
    <li>Un título impactante, por ejemplo: "Soy [Tu Nombre], un desarrollador backend experto en Django y AWS."</li>
    <li>Un botón llamativo de "Contáctame" o "Ver mi trabajo".</li>
    <br>
    <br>
<h1>Experiencia</h1>
    <li>Un párrafo sobre tu experiencia, habilidades y pasión por el backend.</li>
    <li>Un poco sobre tu filosofía de desarrollo (ejemplo: "Me encanta crear APIs eficientes y escalables").</li>
    <li>Foto profesional o avatar.</li>
</ul>
<br>
<img src="../static/images/foto_pro.png" alt="MDN" width="400" height="400" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);" />

{% endblock %}

